@font-face {
    font-family: Aeonik;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    /* height: 100%;
    width: 100%; */
    background-color: #f8f8f8;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 20px;
    font-family: Aeonik;
}

#nav-start, #nav-end, #nav{
    display: flex;
    align-items: center;
    color: #222222;
}
#nav img{
    height: 30px;
    background-color: #222222;
    margin-right: 50px;
}
#nav-start a{
    color: #222222;
    text-decoration: none;
    font-size: 15px;
    margin-right: 30px;
}
#nav{
    justify-content: space-between;
}
#nav-end a{
    color: #222222;
}

#countTxt1, #countTxt2{
    display: flex;
    flex-direction: column;
}
#countTxt{
    display: flex;
    gap: 40px;
    position: absolute;
    top: 180px;
    left: 160px;
}
#countTxt h1{
    font-weight: 100;
}
#name{
    position: absolute;
    top: 320px;
    left: 160px;
}
#name h1{
    font-size: 190px;
    font-weight: 100;
    margin-bottom: -20px;
}
#scrollDown{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 40px;
    left: 150px;
}
#main img{
    height: 650px;
    width: 800px;
    position: absolute;
    top: 80px;
    right: 0;
}
#sideTxt{
    color: #7b7b7b;
    display: flex;
    writing-mode: sideways-lr;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 30px;
}
#sideTxt hr{
    color: #7b7b7b;
    height: 350px;
    width: 1px;
    margin: 20px;
}
