#secondpage #second-head{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#second-head #about-horizon{
  font-weight: 400;
  border: 1px solid #bfc2c6;
  border-radius: 20px;
  padding: 5px 10px;
}

#second-head p{
  font-size: 30px;
  font-weight: 500;
}

#secondpage #second-cards{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#second-cards #card1, #card2, #card3{
  height: 55vh;
  width: 29vw;
  border: none;
  border-radius: 40px;
  box-sizing: border-box;
}

#second-cards #card1{
  color: #ffff;
  background-color: #0d1a2d;
  font-size: 30px;
  padding: 20px 25px;
}

#second-cards #card1 img{
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
}

#second-cards #card1 span{
  color: #637186;
}

#second-cards #card1-bottom{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -20px;
}

#card1-bottom p{
  font-size: 24px;
  color: #637186;
}

#card1 #game-outer{
  height: 35px;
  width: 65px;
  border-radius: 20px;
  background-color: #2eb2ff;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 8px;
}

#card1 #game-inner{
  height: 12px;
  width: 12px;
  border: 7px solid white;
  border-radius: 50px;
}

#second-cards #card2{
  background-image: url(../assets/Img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#second-cards #card2 button{
  color: #ffff;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 50px;  
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.546),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#second-cards #card3{
  background-color: #f2f5f9;
  padding: 20px 25px;
}

#card3 h1{
  font-size: 60px;
  font-weight: 500;
  margin-top: 0;
}

#card3 h3{
  font-size: 20px;
  font-weight: 500;
  margin-top: -40px;
}

#card3 p{
  color: #7d7d7d;
}

#card3 #card3-bottom p{
  color: black;
  font-size: 18px;
  font-weight: 500;
}

#card3-bottom{
  margin-top: 20px;
}

#card3-bottom #beginner, #intermediate, #advanced{
  display: flex; 
  justify-content: space-between;
}

#secondpage #second-bottom{
  text-align: center;
  margin-top: 50px;
}

#second-bottom #state-head{
  font-size: 30px;
  padding-bottom: 20px;
}

#second-bottom #second-states{
  display: flex;
  justify-content: space-evenly;
}

#second-states h2{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

#second-states p{
  font-size: 20px;
  color:#7d7d7d;
}